body,html{
  margin: auto 0;
  height: 100%;
}
.contain {
  color: #FDEEDC;
  background-color: #6D8C00;
  padding: 0;
  height: 20vh;
}

input {
  border-radius: 5px;
  height: 2.5rem;
	min-width: 50%;
	padding: 5px;
	border: none;
}

.first-section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

}

.second-section{
  display: flex;
  flex-flow: column;
  height: 100%;
  /* background-color:  white;
  border-radius: 20px 20px 0px 0px;
  border: 2px solid #6D8C00; */
}

#addButton {
  border: 2px solid;
	border-radius: 5px;
	color: #6D8C00;
  height: 2.7rem;
  width: 2.7rem;
	background-color: #FDEEDC;
  transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
	font-weight: normal;
}

#addButton:hover{
	background-color: #6D8C00;
	color: #FDEEDC;
}

ul {
  margin-top: 25px;
  margin-left: 20rem;
  margin-right: 20rem;
  padding-right: 15px;
  padding-left: 15px;
}

li{
  cursor: pointer;
  list-style: none;
	padding: 5px 5px;
	color: black;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #6D8C00;
	border-radius: 5px;
	margin-bottom: 10px;
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;  
}

li > button {
	font-weight: normal;
	background: none;
	border: none;
	float: right;
	color: rgba(109, 140, 0, 0.5);
	font-weight: 800;
}
li > button:hover {
	color: rgba(109, 140, 0, 1);
}

h2{
  display: flex;
  justify-content: center;
  color: rgba(109, 140, 0, .5);
}

::placeholder{
  color: rgba(109, 140, 0, .3);
  font-size: 1em;
}

.done {
  text-decoration: line-through;
}
