body {
  margin: auto 20rem;
  height: 100%;
  
}

.container {
  background-color: #E38B29;
  margin: 0 auto;
  
}
.zone {
  display: flex;
  cursor: pointer;
  background-color: white;
  font-size: 1em;
  border: 0;
  transition: all 0.3s linear;
  

}

#main-head {
  color: #FDEEDC;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0;
  height: 10vh;
}

.first-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  height: 10vh;
  border: none;
  border-radius: 0;
}

.second-section {
  height: 80vh;
  border-radius: 20px 20px 0px 0px;
  border-color: white;
  border: 2px solid #E38B29;
}

ul{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  margin-top: 15px;
  background-color: #E38B29;
  list-style: none;
  padding: 0;
}

ul > .zone{
  border: none;
}

h2{
  margin: 0 auto;
}

li{
  margin-left: 20px;
}


.gradient {
  background-color: #E38B29;
}


.done {
  text-decoration: line-through;
}